* {
  margin: 0;
  padding: 0;
}

/* header related style  */
.main-banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Banner-image.png");
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 50px auto 100px auto;
}
.banner {
  padding: 180px 350px;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-bottom: 0;
}
.banner-description {
  color: #fff;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  width: 632px;
  padding-top: 20px;
  text-align: center;
  /* padding-left: 230px; */
}

/* main section styles */

/* discount section style  */
.main-discount {
  width: 1320px;
  height: 750px;
  margin: 0 auto;
}
.discount {
  text-align: center;
}
.discount-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 30px;
}
.discount-deals {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.discount-all {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.new-year-img {
  display: block;
  margin: 0 auto;
}

/* welcome section */
.main-welcome {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("resources/Vector.png");
  width: 1320px;
  height: 600px;
  border-radius: 5px;
  margin: 100px auto;
  display: flex;
  gap: 20px;
}
.welcome {
  padding: 130px 0 150px 130px;
}
.welcome-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  width: 642px;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  width: 697px;
  line-height: 30px; /* 166.667% */
  padding-top: 25px;
}
.join {
  background: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  border: 0;
  text-transform: uppercase;
  padding-top: 50px;
  padding-left: 30px;
  cursor: pointer;
}
.join:hover {
  color: #f58d01;
}
.new-img {
  padding: 70px 140px 70px 0;
}

/* place item style  */
.main-place {
  width: 1320px;
  height: 480px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 0 auto;
}
.place {
  text-align: center;
  font-family: Inter;
  text-transform: capitalize;
}
.item {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  padding-top: 100px;
}
.item span {
  color: #f00;
}
.place-btn {
  margin-top: 60px;
  border: 0;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

/* offer style  */
.main-offer {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  height: 480px;
  align-items: center;
  background: #fff;
  margin: 100px auto;
}
.offer-head {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.offer-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 15px;
}
.offer-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  width: 393px;
  font-weight: 400;
  padding-bottom: 15px;
}
.offer-img {
  width: 400px;
  height: 400px;
  border-radius: 400px;
}
.img-size {
  width: 350px;
  height: 350px;
  border-radius: 350px;
  align-items: center;
  padding: 25px;
  border: 15px solid #f00;
}
.offer-color {
  color: #f00;
  font-family: Inter;
}
.offer-width {
  width: 300px;
}

/* holiday style  */
.main-holiday {
  width: 1320px;
  height: 900px;
  margin: 100px auto;
}
.holiday {
  text-align: center;
}
.holiday-head {
  color: #070211;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.holiday-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  margin: 15px 0;
}
.holiday-sale {
  color: #f00;
}

.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  width: 650px;
  margin: 0 auto;
}
.right-side-img{
  position: relative;
  float: right;
  top: 55px;
}
.child-img{
  position: absolute;
  left: -170px;
  top: 80px;
}
.bottom-img{
  position: relative;
  bottom: 0;
  top: 50px;
}
.child-bottom-img{
  position: absolute;
  top: 40px;
}

/* portfolio style  */
.main-portfolio {
  width: 1320px;
  height: 1100px;
  margin: 0 auto;
}
.portfolio {
  width: 600px;
}
.portfolio-head {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.portfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 10px 0;
}
.portfolio-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
}
/* portfolio img  */
.first-row,
.second-row {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.first-row-img,
.second-row-img {
  width: 424px;
  height: 450px;
  border: 2px solid #fff;
  border-radius: 16px;
  cursor: pointer;
}
.first-row-img:hover,
.second-row-img:hover {
  border: 2px solid #000;
  border-radius: 16px;
}

/* subscribe style  */
.main-subscribe {
  width: 1320px;
  height: 550px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: 100px auto;
  text-align: center;
}
.subscribe-img {
  margin-top: 80px;
}
.subscribe-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 40px;
}
.subscribe-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  width: 750px;
  margin: 20px auto 50px auto;
}
.subscribe-button{
  position: absolute;
  width: 500px;
  left: 40%;
}
.subscribe-button input {
  position: relative;
  width: 300px;
  height: 50px;
  border: 0;
  padding: 0 20px;
  outline: none;
  border-radius: 25px 0 0 25px;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.button {
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: 0;
  outline: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  left: -6px;
  bottom: -1px;
}


/* footer style  */
footer{
  height: 700px;
  width: auto;
  background:  #070211;;
}